<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>权限管理</title>
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/css/page.css" rel="stylesheet">
<link href="../static/css/custom.css" rel="stylesheet">
<link href="../static/css/layui.css" rel="stylesheet">
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/layer.js"></script>
<script src="../static/js/page.js"></script>
<script src="../static/js/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;" style="text-decoration: none;">权限管理</a>
          <dl class="layui-nav-child">
            {% if '_verdict_user.read' in permissions %}
                <dd><a href="{% url "verdict_user_view" %}" style="text-decoration: none;">用户列表</a></dd>
            {% endif %}
            {% if '_verdict_permission.read' in permissions %}
                <dd><a href="{% url "verdict_permission_view" %}" style="text-decoration: none;">权限列表</a></dd>
            {% endif %}
            {% if '_verdict_pile.read' in permissions %}
                <dd><a href="{% url "verdict_pile_view" %}" style="text-decoration: none;">权限集合</a></dd>
            {% endif %}
            {% if '_verdict_group.read' in permissions %}
                <dd><a href="{% url "verdict_group_view" %}" style="text-decoration: none;">群组列表</a></dd>
            {% endif %}
          </dl>
        </li>
      </ul>
    </div>
  </div>

  <div class="layui-body" style="margin-top: 10px;">
     {% block content %}
     {% endblock content %}
  </div>

</div>

<script>
  layui.use('element', function(){
  var element = layui.element;
});
</script>
</body>
</html>
