
{% extends 'base.html' %}

{% block content %}

<div style="margin: 5px;">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." id="search" value="{{ name }}">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="search()">Search</button>
            </span>
        </div>
    </div>
    <div class="col-lg-6">
        {% if '_verdict_pile.create' in permissions %}
        <button type="button" onclick="pile_add()" class="btn btn-primary active" style="margin-left: 100px;">添加权限集</button>
        {% endif %}
    </div>

<div class="col-lg-12" style="margin-top: 10px;">
    <table class="table table-bordered table-striped">
		<thead>
			<tr class="success">
				<th width="5%">ID</th>
				<th width="10%">权限集名称</th>
				<th width="75%">成员</th>
                <th>操作</th>
			</tr>
		</thead>
		<tbody>
        {% for obj in result %}
			<tr>
				<td>{{ obj.id }}</td>
				<td>{{ obj.name }}</td>
				<td>
                    <div>
                    {% for child in obj.children %}
                        <div style="margin: 3px;border: 2px solid #a3cced;;display: inline-block;position: relative;padding: 1px 6px 1px 1px;">
                            <label class="pile-span">{{ child.description }}</label>
                            {% if '_verdict_pile_permission.update' in permissions %}
                            <span style="position: absolute; top: -8px; right: -2px; cursor: pointer;" aria-hidden="true" onclick="pile_delete_permission('{{ obj.id }}', '{{ child.id }}', '{{ child.description }}')" title="删除成员">&times;</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if '_verdict_pile_permission.update' in permissions %}
                        <span style="cursor: pointer;margin-left: 10px;" class="glyphicon glyphicon-plus" aria-hidden="true" onclick="pile_add_member('{{ obj.id }}', '{{ obj.name }}')" title="添加成员"></span>
                    {% endif %}
                    </div>
                </td>
                <td>
                    <div align="center">
                        {% if '_verdict_pile.update' in permissions %}
                        <span class="glyphicon glyphicon-pencil" style="cursor: pointer;" aria-hidden="true" onclick="update_pile('{{ obj.id }}', '{{ obj.name }}')" title="编辑"></span>
                        {% endif %}
                        {% if '_verdict_pile.delete' in permissions %}
                        <span class="glyphicon glyphicon-trash" style="cursor: pointer;margin: 20px;" aria-hidden="true" onclick="submit_delete('{{ obj.id }}')" title="删除"></span>
                        {% endif %}
                    </div>
                </td>
			</tr>
        {% endfor %}
		</tbody>
	</table>
</div>
    <div class="col-lg-12">
    <div class="dataTables_info" role="status" aria-live="polite">共 {{ total }} 条, {{ total_pages }} 页</div>
    <div class="dataTables_paginate paging_simple_numbers">
        <a class="paginate_button previous" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="previous" onclick="previous_page({{ page }})">上一页</a>
        <span><a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">{{ page }}</a></span>
        <a class="paginate_button next" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="next" onclick="next_page({{ page }}, {{ total_pages }})">下一页</a>
    </div>
    </div>
</div>

<script type="text/javascript">


var wg = null;


function update_pile(pile_id, pile_name) {
    var html = '<div style="padding:50px;">' +
        '<form class="form-horizontal">' +
        '<div class="form-group">' +
        '<label class="col-sm-3 control-label">ID：</label>' +
        '<div class="col-sm-8">' +
        '<input type="input" readonly="readonly" class="form-control" value="' + pile_id + '">' +
        '</div></div>' +
        '<div class="form-group">' +
        '<label class="col-sm-3 control-label">权限集名称：</label>' +
        '<div class="col-sm-8">' +
        '<input type="input" class="form-control" value="' + pile_name + '" id="pile_name">' +
        '</div></div>' +
        '<div class="form-group">' +
        '<div class="col-sm-offset-5 col-sm-5">' +
        '<button type="button" class="btn btn-primary" style="margin-top: 10px;" onclick="sumbit_update(' + pile_id + ')">确认</button>' +
        '</div></div></form></div>';
    wg = layer.open({
      type: 1, //Page层类型
      area: ['600px', '300px'],
      title: '修改权限集',
      shade: 0.6, //遮罩透明度
      shadeClose: false,
      anim: 0, //0-6的动画形式，-1不开启
      closeBtn: 2,
      content: html,
    });
}


function sumbit_update(pile_id) {
    var pile_update_url = "{% url 'verdict_pile_update_delete' pk=0 %}".replace('/0/', '/' + pile_id + '/');
    var name = $("#pile_name").val();
    if(name.length == 0){
        layer.msg('权限名称不能为空');
        return;
    }
    var ld = layer.load(2);
    var data = new Object();
    data['name'] = name;
    $.ajax({
        url: pile_update_url,
        type: 'PATCH',
        data: data,
        success: function(result) {
            layer.msg('successful');
            layer.close(wg);
            window.location.reload();
        },
        error: function (resp) {
            var error = resp['responseJSON']['error'];
            layer.msg(error);
            return;
        }
    }).always(function() {
        layer.close(ld);
      });
}


function submit_delete(pile) {
    var pile_delete_url = "{% url 'verdict_pile_update_delete' pk=0 %}".replace('/0/', '/' + pile + '/');
    layer.msg('确定要删除该权限集吗?', {
      time: 0 //不自动关闭
      ,btn: ['确定', '取消']
      ,yes: function(index){
        var ld = layer.load(2);
        layer.close(index);
        $.ajax({
            url: pile_delete_url,
            type: 'DELETE',
            success: function(result) {
                layer.msg('successful');
                window.location.reload();
            },
            error: function (resp) {
                var error = resp['responseJSON']['error'];
                layer.msg(error);
                return;
            }
        }).always(function() {
            layer.close(ld);
          });
      }
    });
}


function pile_delete_permission(pile_id, permission_id, permission_description) {
        var pile_permission_delete_url = "{% url 'verdict_pile_permission_delete' pile_id=0 pk=0 %}".replace('/0/', '/' + pile_id + '/').replace('/0/', '/' + permission_id + '/');
        layer.msg('确定要移除权限 [' + permission_description + '] 吗?', {
          time: 0 //不自动关闭
          ,btn: ['确定', '取消']
          ,yes: function(index){
            var ld = layer.load(2);
            layer.close(index);
            $.ajax({
                url: pile_permission_delete_url,
                type: 'DELETE',
                success: function(result) {
                    layer.msg('successful');
                    window.location.reload();
                },
                error: function (resp) {
                    var error = resp['responseJSON']['error'];
                    layer.msg(error);
                    return;
                }
            }).always(function() {
                layer.close(ld);
              });;
          }
        });
    }

function pile_add(pile_id) {
    var html = '<div style="padding:50px;">' +
        '<form class="form-horizontal">' +
        '<div class="form-group">' +
        '<label class="col-sm-3 control-label">权限集名称：</label>' +
        '<div class="col-sm-8">' +
        '<input type="input" class="form-control" id="pile_name">' +
        '</div></div>' +
        '<div class="form-group">' +
        '<div class="col-sm-offset-4 col-sm-4">' +
        '<button type="button" class="btn btn-primary" style="margin-top: 30px;" onclick="sumbit_add()">确认</button>' +
        '</div></div></form></div>';
    wg = layer.open({
      type: 1, //Page层类型
      area: ['600px', '300px'],
      title: '添加权限集',
      shade: 0.6, //遮罩透明度
      shadeClose: false,
      anim: 0, //0-6的动画形式，-1不开启
      closeBtn: 2,
      content: html,
    });
}

function sumbit_add() {
    var permission_add_url = "{% url 'verdict_pile_view' %}";
    var name = $("#pile_name").val();
    if(name.length == 0){
        layer.msg('权限集名称不能为空');
        return;
    }
    var ld = layer.load(2);
    var data = new Object();
    data['name'] = name;
    $.ajax({
        url: permission_add_url,
        type: 'POST',
        data: data,
        success: function(result) {
            layer.msg('successful');
            layer.close(wg);
            window.location.reload();
        },
        error: function (resp) {
            var error = resp['responseJSON']['error'];
            layer.msg(error);
            return;
        }
    }).always(function() {
            layer.close(ld);
        });;
}


function pile_add_member(pile_id, pile_name) {
    var pile_vagrant_url = "{% url 'verdict_pile_vagrant' %}";
    $.get(pile_vagrant_url, function(resp){
        var data = resp.result;
        var html = '<div style="overflow:auto;">';
        for(i=0;i<data.length;i++){
            html += '<label style="margin: 10px;"><input type="checkbox" name="permission" value="' + data[i].id + '">' + data[i].description + '</label>';
        }
        html += '</div>';
        html += '<div align="center" style="margin: 30px;"><button class="btn btn-primary" type="button" onclick="submit_pile_add_members(' + pile_id + ')">确认</button></div>';
        wg = layer.open({
          type: 1, //Page层类型
          area: ['800px', '600px'],
          title: '权限集 [' + pile_name + '] 添加权限',
          shade: 0.6, //遮罩透明度
          shadeClose: false,
          anim: 0, //0-6的动画形式，-1不开启
          closeBtn: 2,
          content: html,
          scrollbar: true,
        });
    });
}

function submit_pile_add_members(pile_id) {
    var pile_permission_url = "{% url 'verdict_pile_permission' pk=0 %}".replace('/0/', '/' + pile_id + '/');
    var permission_values = [];
    $('input:checkbox[name=permission]:checked').each(function(i){
       permission_values.push($(this).val());
    });
    if (permission_values.length == 0){
        layer.msg('请选择权限');
        return;
    }
    var ld = layer.load(2);
    var data = new Object();
    data['permissions'] = permission_values.join(',');
    $.ajax({
        url: pile_permission_url,
        type: 'POST',
        data: data,
        success: function(result) {
            layer.msg('successful');
            layer.close(wg);
            window.location.reload();
        },
        error: function (resp) {
            var error = resp['responseJSON']['error'];
            layer.msg(error);
            return;
        }
    }).always(function() {
            layer.close(ld);
          });;
}

</script>

{% endblock content %}
