
{% extends 'base.html' %}

{% block content %}

<div class="body-div">
    <div class="layui-card layadmin-header">
      <div class="layui-breadcrumb" style="visibility: visible;">
          <span class="glyphicon glyphicon-home" style="margin-left: 15px;" aria-hidden="true"></span>
          <span lay-separator="">/</span>
          <span><cite>用户列表</cite></span>
      </div>
    </div>
    <div class="search-div">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="请输入..." id="search" value="{{ name }}">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="search()">搜索</button>
            </span>
        </div>
    </div>
    <div class="col-lg-12" style="clear: both">
    <table class="table table-bordered table-striped">
		<thead>
			<tr class="success">
				<th width="5%" class="tb-th">序号</th>
				<th width="30%" class="tb-th">用户名</th>
				<th width="40%" class="tb-th">邮箱</th>
				<th class="tb-th">群组</th>
			</tr>
		</thead>
		<tbody>
        {% for obj in result %}
			<tr>
				<td class="tb-th">{{ forloop.counter }}</td>
				<td class="tb-th">{{ obj.name }}</td>
				<td class="tb-th">{{ obj.email }}</td>
				<td class="tb-th">
                    {% if obj.group %}
                        {{ obj.group.name }}
                        {% if '_verdict_group_user.update' in permissions %}
                            <span class="glyphicon glyphicon-remove" style="cursor: pointer;color: #20a0ff;" aria-hidden="true" onclick="exit_group('{{ obj.id }}', '{{ obj.group.id }}')" title="退出群组"></span>
                        {% endif %}
                    {% else %}
                        {% if '_verdict_group_user.update' in permissions %}
                            <span class="glyphicon glyphicon-plus" style="color: #20a0ff;cursor: pointer;margin-left: 20px;" aria-hidden="true" onclick="join_group('{{ obj.id }}', '{{ obj.name }}')" title="加入群组"></span>
                        {% endif %}
                    {% endif %}
                </td>
			</tr>
        {% endfor %}
		</tbody>
	</table>
    </div>

<div class="col-lg-12">
    <div class="dataTables_info" role="status" aria-live="polite">共 {{ total }} 条, {{ total_pages }} 页</div>
    <div class="dataTables_paginate paging_simple_numbers">
        <a class="paginate_button previous" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="previous" onclick="previous_page({{ page }})">上一页</a>
        <span><a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">{{ page }}</a></span>
        <a class="paginate_button next" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="next" onclick="next_page({{ page }}, {{ total_pages }})">下一页</a>
    </div>
</div>
</div>
    <script type="text/javascript">

    var wg = null;

    function join_group(user_id, user_name) {
        var group_list_url = "{% url 'verdict_group_list' %}";
        $.get(group_list_url, function(resp){
            var data = resp.result;
            var html = '<style>.select-style {margin-left: 115px;border: 3px solid #20a0ff;width: 200px;border-radius: 3px;overflow: hidden;background: #fafafa no-repeat 90% 50%;}.select-style select {padding: 5px 8px;width: 100%;border: none;box-shadow: none;background: transparent;background-image: none;-webkit-appearance: none;}.select-style select:focus {outline: none;}</style>';
            html += '<div class="select-style" align="center"><select id="group_value">';
            html += '<option value="">请选择</option>'
            for(i=0;i<data.length;i++){
                html += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
            }
            html += "</select></div>";
            html += '<div style="margin-top: 50px;" align="center"><button class="btn btn-primary" style="margin-left:-30px;" type="button" onclick="user_join_group(' + user_id + ')">加入</button></div>';
            wg = layer.open({
              type: 1, //Page层类型
              area: ['500px', '300px'],
              title: '用户[' + user_name + ']加入群组',
              shade: 0.6, //遮罩透明度
              shadeClose: false,
              anim: 0, //0-6的动画形式，-1不开启
              closeBtn: 2,
              content: '<div style="padding:20px;margin-top:30px;">' + html + '</div>',
            });
        });
    }

    function user_join_group(user_id) {
        var group_id = $("#group_value").val();
        if(group_id.length == 0){
            layer.alert('请选择群组');
            return;
        }
        var ld = layer.load(2);
        var group_user_url = "{% url 'verdict_group_user' gid=0 uid=0 %}".replace('/0/', '/' + group_id + '/').replace('/0/', '/' + user_id + '/');
        $.ajax({
            url: group_user_url,
            type: 'POST',
            done: function(d){
                layer.alert('i am done')
            },
            success: function(result) {
                layer.msg('successful');
                layer.close(wg);
                window.location.reload();
            },
            error: function (resp) {
                var error = resp['responseJSON']['error'];
                layer.msg(error);
                return;
            }
        }).always(function() {
            layer.close(ld);
          });
    }
    
    function exit_group(user_id, group_id) {
        var group_user_url = "{% url 'verdict_group_user' gid=0 uid=0 %}".replace('/0/', '/' + group_id + '/').replace('/0/', '/' + user_id + '/');
        layer.msg('确定要退出群组吗?', {
          time: 0 //不自动关闭
          ,btn: ['确定', '取消']
          ,yes: function(index){
            layer.close(index);
            var ld = layer.load(2);
            $.ajax({
                url: group_user_url,
                type: 'DELETE',
                success: function(result) {
                    layer.msg('successful');
                    layer.close(wg);
                    window.location.reload();
                },
                error: function (resp) {
                    var error = resp['responseJSON']['error'];
                    layer.msg(error);
                    return;
                }
            }).always(function() {
                layer.close(ld);
              });
          }
        });
    }

    </script>

{% endblock content %}
