.permission-list {
    border: solid 1px #eee;
    margin-top: 10px;
}
.formControls>* {
    vertical-align: middle;
}
ul, ol, dl {
    list-style-type: none;
}
dl, dt, dd, ul, ol, li {
    margin: 0;
    padding: 0;
}
* {
    word-wrap: break-word;
}
dl {
    list-style-type: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.permission-list > dt {
    background-color: #C6E0FF;
    padding: 5px 10px;
}
dt {
    display: block;
}
.cl, .clearfix {
    zoom: 1;
}
.permission-list > dd > dl > dd {
    margin-left: 40px;
}
dd {
    display: block;
    margin-inline-start: 0px;
}


.body-div {
    margin: 0;
}

.search-div {
    width: 50%;
    display: inline-block;
    float: left;
    margin-left: 15px;
    margin-bottom: 10px;
}

.tb-th {
    text-align: center;/** 设置水平方向居中 */
    vertical-align: middle/** 设置垂直方向居中 */
}
